@use 'bootstrap/scss/bootstrap';  /* load full Bootstrap */

/* Custom font */
@font-face {
  font-family: 'DogicaPixel';
  src: url('/fonts/dogicapixel.ttf') format('truetype');
  font-display: swap;
}

/* Apply font + global colors */
body {
  font-family: 'DogicaPixel', monospace;
  background-color: #eaf7ef; /* light green background */
  color: #0f1b14;            /* dark green text */
}
